apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-tracking-service
  labels:
    app: tracking-service
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: tracking-service
  template:
    metadata:
      labels:
        app: tracking-service
    spec:
      containers:
      - name: tracking-service
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8087
        env:
        - name: SERVER_PORT
          value: "{{ .Values.service.port }}"
        - name: DB_DSN
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-tracking-service-secrets
              key: dsn
        - name: KAFKA_BROKERS
          value: "{{ .Values.kafka.brokers | join \",\" }}"
        - name: KAFKA_GROUPID
          value: "{{ .Values.kafka.groupId }}"
        - name: KAFKA_TOPIC
          value: "{{ .Values.kafka.topic }}"
        - name: KAFKA_TIMEOUT
          value: "{{ .Values.kafka.timeout }}"
        - name: OTLP_ENDPOINT
          value: "{{ .Values.otlp.endpoint }}"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8087
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8087
          initialDelaySeconds: 5
        resources:
{{ toYaml .Values.resources | indent 10 }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values: ["tracking-service"]
            topologyKey: "kubernetes.io/hostname"
